@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}

h1 {
    color: #75B79E;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

main {
    display: flex;
    justify-content: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    flex-wrap: wrap;
    gap: 35px;
}

.card {
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    position: relative;
}

.front-face, .back-face {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}