@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}

h1 {
    color: #75B79E;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}